<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.mapper.PatientInfoMapper">

    <resultMap id="BaseResultMap" type="com.hzy.entity.PatientInfo">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="gender" column="gender" />
            <result property="birthDate" column="birth_date" />
            <result property="idCard" column="id_card" />
            <result property="phone" column="phone" />
            <result property="emergencyContactPhone" column="emergency_contact_phone" />
            <result property="address" column="address" />
            <result property="roomId" column="room_id" />
            <result property="equipmentId" column="equipment_id" />
            <result property="staffId" column="staff_id" />
            <result property="equipmentStatus" column="equipment_status" />
            <result property="patientStatus" column="patient_status" />
            <result property="eventGrade" column="event_grade" />
            <result property="remark" column="remark" />
            <result property="isDeleted" column="is_deleted" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,gender,birth_date,id_card,phone,
        emergency_contact_phone,address,room_id,equipment_id,staff_id,
        equipment_status,patient_status,event_grade,remark,is_deleted,
        create_time,update_time
    </sql>
</mapper>
